@page
@model BankAppWeb.Pages.Customers.CustomerViewModel
@{
}

<div class="container">
    <!-- Start of customer profile -->
    <div class="container py-5">
        <div class="row">
            <div>
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://thispersondoesnotexist.com/image" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Givenname</h5>
                        <p class="text-muted mb-1">@Model.Country, @Model.CountryCode</p>
                        <p class="text-muted mb-4">@Model.Zipcode</p>
                    </div>
                    @if (Model.User.IsInRole("Admin"))
                    {
                        <form method="POST" asp-page-handler="RemoveCustomer" asp-route-id="@Model.Id" class="text-center mb-2">
                            <button type="submit" class="btn btn-danger" OnClick="return confirm('Are you sure you want to delete the customer?')">Delete customer</button>
                        </form>
                        <a class="btn btn-success" asp-page="EditCustomer" asp-route-id="@Model.Id">Edit customer</a>
                    }
                </div>

            </div>
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Fullname</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">National ID</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.NationalId</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.City, @Model.Streetaddress, @Model.Zipcode</p>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Telephone number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">+@Model.TelephoneCountryCode @Model.Telephone</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- End of customer profile -->

    <div class="text-center">
        <div class="table100 ver1 m-b-110" style="width: 800px;">
            <table data-vertable="ver1">
                <thead>
                    <tr class="row100 head">
                        <th class="column100 column1 text-center" data-column="column1">
                            Account number
                        </th>
                        <th class="column100 column2 text-center" data-column="column2">
                            Account type
                        </th>
                        <th class="column100 column3 text-center" data-column="column3">
                            Balance
                        </th>
                        @if  (User.IsInRole("Admin") || User.IsInRole("Cashier"))
                        {
                            <th class="column100 column4 text-center" data-column="column4"></th>
                            <th class="column100 column5 text-center" data-column="column5"></th>
                            <th class="column100 column6 text-center" data-column="column6"></th>
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <th class="column100 column7 text-center" data-column="column7"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in @Model.AccountNumbers)
                    {
                        <tr class="row100">
                            <td class="column100 column1" data-column="column1">@account.Id</td>
                            <td class="column100 column2" data-column="column2">@account.Accounttype</td>
                            <td class="column100 column3" data-column="column3">@account.Balance sek</td>
                            @if (User.IsInRole("Admin") || User.IsInRole("Cashier"))
                            {
                                <td class="column100 column4" data-column="column4"><a asp-page="../Accounts/TransactionView" asp-route-accountId="@account.Id" asp-route-customerId="@Model.Id">Transactions</a></td>
                                <td class="column100 column5" data-column="column5"><a asp-page="../Accounts/DepositAndWithdrawalView" asp-route-accountId="@account.Id" asp-route-customerId="@Model.Id" asp-route-operation="ATM withdrawal">Withdraw</a></td>                            
                                <td class="column100 column6" data-column="column6"><a asp-page="../Accounts/DepositAndWithdrawalView" asp-route-accountId="@account.Id" asp-route-customerId="@Model.Id" asp-route-operation="Deposit cash">Deposit</a></td>
                            }
                            @if (User.IsInRole("Admin"))
                            {
                                <td class="column100 column7" data-column="column7"><form method="POST" asp-page-handler="RemoveAccount" asp-route-id="@account.Id" asp-route-customerId="@Model.Id"><button type="submit" class="btn btn-danger" OnClick="return confirm('Are you sure you want to delete the account?')">DELETE</button></form></td>

                            }
                        </tr>
                    }
                    <tr class="row100">
                        <td class="column100 column1" data-column="column1">Total balance: @Model.TotalBalance sek</td>
                    </tr>
                    <tr class="row100">
                        <td class="column100 column1" data-column="column1"><a asp-page="../Accounts/CreateAccount" asp-route-customerId="@Model.Id">Create account</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            @if (User.IsInRole("Admin") || User.IsInRole("Cashier"))
             {
                <a class="btn btn-facebook" asp-page="../Accounts/SendTransactionView" asp-route-customerId="@Model.Id">New transaction</a>
             }
        </div>
    </div>
</div>