@page
@model BankAppWeb.Pages.Customers.IndexModel
@{
}

<div class="text-center">
    <div class="limiter">
        <div class="container-table100">
            <div class="table100 ver1 m-b-110" style="width: 1000px;">
                <table data-vertable="ver1">
                    <thead>
                        <tr class="row100 head">
                            <th class="column100 column1 text-center" data-column="column1">

                                @if(Model.Sort == "asc")
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="Givenname" asp-route-order="desc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                } else
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="Givenname" asp-route-order="asc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                }
                                Name
                            </th>
                            <th class="column100 column2 text-center" data-column="column2">
                                @if(Model.Sort == "asc")
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="City" asp-route-order="desc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                } else
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="City" asp-route-order="asc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                }
                                City
                            </th>
                            <th class="column100 column3 text-center" data-column="column3">
                                @if(Model.Sort == "asc")
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="NationalId" asp-route-order="desc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                } else
                                {
                                    <a asp-page="/Customers/Index" asp-route-col="NationalId" asp-route-order="asc">
                                        <i class='bx bxs-sort-alt fa-lg' ></i>
                                    </a>
                                }
                                NationalId
                            </th>
                            <th class="column100 column4 text-center" data-column="column4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var customer in @Model.Customers)
                        {
                            <tr class="row100">
                                <td class="column100 column1" data-column="column1">@customer.Fullname</td>
                                <td class="column100 column2" data-column="column2">@customer.City</td>
                                <td class="column100 column3" data-column="column3">@customer.NationalId</td>
                                <td class="column100 column4" data-column="column4"><a asp-page="/Customers/CustomerView" asp-route-id="@customer.Id">View customer</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>